@use '/src/styles/utils/mixins';

.categories__grid {
  display: grid;
  grid-template-columns: 1fr;
  gap: 15px;

  @include on-tablet {
    grid-template-columns: repeat(3, 1fr);
  }
}

.category {
  position: relative;
  width: 100%;
  border-radius: 16px;
  overflow: hidden;
}

.category__media video {
  object-fit: cover !important;
  width: 100% !important;
  height: 100% !important;
  display: block !important;
}

.category__media {
  position: absolute;
  inset: 0;
}
