@use '/src/styles/utils/mixins';

.categories__grid {
  display: grid;
  grid-template-columns: 1fr;
  gap: 15px;

  @include on-tablet {
    grid-template-columns: repeat(3, 1fr);
  }
}

.category {
  position: relative;
  width: 100%;
  aspect-ratio: 4 / 3;
  border-radius: 16px;
  overflow: hidden;
}

.category__media {
  position: absolute;
  inset: 0;
}

.category__media video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}
