@use '../uken-icons.scss'; // using @use instead of @import as @import is debrecated

.container {
  position: relative;
  display: inline-block;
}

.badge {
  font-family: 'Mont-Regular';
  box-sizing: border-box;
  position: absolute;
  top: -5.5px;
  right: -6px;
  border: 1px solid white;
  background-color: #eb5757;
  color: white;
  border-radius: 50%;
  padding: 0px 1px;
  font-size: 12px;
}
