.add-to-cart-button {
  background-color: #313237;
  color: #ffffff;
  border: none;
  border-radius: 8px;
  font-size: 14px;
  cursor: pointer;
  width: 176px;
  height: 40px;

  &:hover {
    box-shadow: 0px 3px 13px 0px #17203166;
  }
  &.added {
    background-color: #ffffff;
    color: #27ae60;
    border: 1px solid #e2e6e9;
  }
}
