.header {
  font-family: var(--font-primary);
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid var(--color-elements);
}

.header__left,
.header__search {
  display: flex;
  align-items: center;
  gap: var(--space-lg);
}

.header__logo-image {
  width: 40px;
  height: 40px;
}

.header__logo {
  display: flex;
  align-items: center;
  padding: 0 24px;
}

.header__nav-list {
  list-style: none;
  margin: 0;
  display: flex;
  align-items: center;
  padding-inline-start: 0;
  gap: 64px;
}

.header__input {
  width: 289px;
}

.header__nav-link {
  text-decoration: none;
  color: var(--color-primary);
  line-height: 64px;
  font-size: 12px;
}

.header__categoties {
  width: 176px;
  text-align: center;
}

.header__nav-item {
  height: 64px;
}

.header__icons {
  display: flex;
}

.header__icon-wrapper {
  width: 64px;
  height: 64px;
  line-height: 64px;
  padding-inline: 24px;
  border-left: 1px solid var(--color-elements);
  border-right: 1px solid var(--color-elements);
  display: flex;
  justify-content: center;
}

.header__icon-wrapper:first-child {
  border-right: none;
}
