.mobile-menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--color-white);
  z-index: 2;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;

  &__top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 24px;
    border-bottom: 1px solid var(--color-elements);
  }

  &__close {
    width: 48px;
    text-align: center;
    border-left: 1px solid var(--color-elements);
    line-height: 48px;
  }

  &__logo-image {
    width: 40px;
    height: 48px;
    scale: 2.5;
  }

  &__logo {
    width: 96px;
    display: flex;
    justify-content: center;
  }

  &__nav-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
    margin-bottom: 24px;
  }

  &__nav-link {
    text-decoration: none;
    color: var(--color-secondary);
    font-size: 12px;
    position: relative;
    display: inline-block;
    line-height: 24px;

    &.active::after {
      content: '';
      background-color: var(--color-primary);
      height: 2px;
      box-sizing: border-box;
      position: absolute;
      width: 100%;
      bottom: 0;
      left: 0;
    }

    &.active {
      color: var(--color-primary);
    }
  }

  &__search,
  &__categories {
    width: 90%;
    margin: 0 auto 8px auto;
  }

  &__icons {
    display: flex;
    position: fixed;
    bottom: 0;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    height: 64px;
    border-top: 1px solid var(--color-elements);
  }

  &__icon-wrapper {
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    &:first-child {
      border-right: 1px solid var(--color-elements);
    }
  }
}
