@use '../../styles/utils/mixins' as *;
@import '../../styles/vars.css';

.book {
  &__main-img {
    width: 278px;
    height: 278px;
    margin-bottom: 40px;
    border-radius: var(--radius-sm);
    border: 1px solid var(--color-elements);

    @include on-tablet {
      //   grid-column: 4 / 6;
      width: 205px;
      height: 315px;
    }

    @include on-desktop {
      //   grid-column: 3 / 10;
      width: 337px;
      height: 520px;
    }
  }

  &__img-thumb {
    display: flex;
    gap: var(--space-xs);
    margin-bottom: var(--space-xl);
    overflow: scroll;

    @include on-tablet {
      //   position: absolute;
      top: 0;
      flex-direction: column;
      grid-column: 1 / 2;
      overflow: visible;
    }
  }

  &__secondary-img {
    width: 64px;
    height: 64px;

    border-radius: var(--radius-sm);
    border: 1px solid var(--color-elements);

    @include on-desktop {
      width: 80px;
      height: 80px;
    }
  }
}
