.favorite-button {
  width: 40px;
  height: 40px;
  border-radius: 8px;
  border: 1px solid #e2e6e9;
  background-color: #fff;

  &:hover {
    border: 1px solid #313237;
  }

  &:disabled {
    background-color: #cccccc;
    cursor: not-allowed;
  }
}
