@use '../../styles/utils/mixins' as *;

.footer {
  border-top: 1px solid var(--color-elements);
  padding-block: 20px;
  background-color: var(--color-white);

  &__container {
    @include on-tablet {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  }

  &__nav-list {
    @media (max-width: 639px) {
      margin-bottom: 32px;
    }
    @include on-tablet {
      display: flex;
      gap: 17px;
    }
    @include on-desktop {
      gap: 110px;
    }
  }

  &__nav-link {
    @include on-tablet {
      line-height: 60px;
      display: block;
    }
  }

  &__nav-item {
    font-weight: var(--fw-bold);
    font-size: 12px;

    line-height: 11px;
    letter-spacing: 0.01em;
    text-transform: uppercase;
    color: var(--color-secondary);

    @media (max-width: 639px) {
      &:not(:last-child) {
        margin-bottom: 16px;
      }
    }
  }

  &__logo-link {
    display: inline-block;
    @media (max-width: 639px) {
      margin-bottom: 32px;
    }
  }

  &__logo-image {
    height: 60px;
    width: 60px;
  }

  &__back-wrapper {
    text-align: center;
  }

  &__back {
    display: inline-flex;
    align-items: center;
    gap: 16px;
    font-size: 12px;
    color: var(--color-secondary);
  }
}
