.paginator-button {
  width: 32px;
  height: 32px;
  border-radius: 8px;
  cursor: pointer;
  border: 1px solid #e2e6e9;
  background-color: #fff;

  &:hover {
    border: 1px solid #313237;
  }

  &:active {
    background-color: #313237;
    border: 1px solid #313237;
    color: #fff;
  }
}
